In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('IMDB.sqlite')
db

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor()
cur

In [5]:
sql_query = 'Create table Student(Roll_No int Primary key,Name Text,age int)'
cur.execute(sql_query)

In [9]:
cur.execute('insert into Student values(55,"Raju Kumar",23)')

In [10]:
db.commit()

In [12]:
db.close()

None