In [1]:
import sqlite3
import pandas as pd

In [2]:
data = sqlite3.connect('School.sqlite')
data

In [7]:
cur = data.cursor()

In [8]:
cur.execute('Select *from Student')

In [11]:
print(cur)

<sqlite3.Cursor object at 0x7fe3da8490a0>

In [17]:
for i in cur:
    print(i)

In [15]:
cur.execute('insert into Student values(34,"Sana",22)')

In [19]:
cur.execute('insert into Student values(13,"Priyanshu",25)')

In [20]:
cur.execute('insert into Student values(44,"Om",19)')

In [21]:
cur.execute('insert into Student values(17,"Aditya",20)')

In [22]:
cur.execute('insert into Student values(46,"Praveer",21)')

In [24]:
cur.execute('insert into Student values(61,"Satyam",12)')

In [25]:
cur.execute('select *from Student')
cur.fetchall()

[(52, 'Daiyan Alam', 22),
 (55, 'Raju Kumar', 23),
 (62, 'Anish Yadaw', 20),
 (34, 'Sana', 22),
 (13, 'Priyanshu', 25),
 (44, 'Om', 19),
 (17, 'Aditya', 20),
 (46, 'Praveer', 21),
 (61, 'Satyam', 12)]