In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('IMDB.sqlite')
db

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor()
cur

In [5]:
sql_query = 'Create table Student(Roll_No int Primary key,Name Text,age int)'
cur.execute(sql_query)

OperationalError: table Student already exists

In [6]:
cur.execute('insert into Student values(62,"Anish Yadaw",20)')

In [7]:
db.commit()

In [8]:
db.close()