In [1]:
import sqlite3

In [2]:
data = sqlite3.connect('School.sqlite')
data

In [3]:
cur = data.cursor()

In [4]:
cur.execute('Select *from Student')

In [5]:
print(cur)

<sqlite3.Cursor object at 0x7faa5909b9d0>

In [6]:
for i in cur:
    print(i)

(52, 'Daiyan Alam', 22)
(55, 'Raju Kumar', 23)
(62, 'Anish Yadaw', 20)

In [7]:
cur.execute('insert into Student values(34,"Sana",22)')

In [8]:
cur.execute('insert into Student values(13,"Priyanshu",25)')

In [9]:
cur.execute('insert into Student values(44,"Om",19)')

In [10]:
cur.execute('insert into Student values(17,"Aditya",20)')

In [11]:
cur.execute('insert into Student values(46,"Praveer",21)')

In [12]:
cur.execute('insert into Student values(61,"Satyam",12)')

In [13]:
data.commit()

In [14]:
cur.execute('select *from Student')
cur.fetchall()

[(52, 'Daiyan Alam', 22),
 (55, 'Raju Kumar', 23),
 (62, 'Anish Yadaw', 20),
 (34, 'Sana', 22),
 (13, 'Priyanshu', 25),
 (44, 'Om', 19),
 (17, 'Aditya', 20),
 (46, 'Praveer', 21),
 (61, 'Satyam', 12)]