In [1]:
import sqlite3

In [4]:
db = sqlite3.connect('School.sqlite')

In [5]:
db

In [7]:
cur= db.cursor()

In [8]:
cur.execute('Select *from Student')

In [9]:
print(cur)

<sqlite3.Cursor object at 0x7fcc117988f0>

In [10]:
for i in cur:
    print(i)

(52, 'Daiyan Alam', 22)
(55, 'Raju Kumar', 23)
(62, 'Anish Yadaw', 20)

In [12]:
cur.execute('Select *from Student')
print(cur.fetchone())   # it gives first row of table

(52, 'Daiyan Alam', 22)

In [13]:
cur.execute('Select *from Student')
print(cur.fetchone())
print(cur.fetchone())

(52, 'Daiyan Alam', 22)
(55, 'Raju Kumar', 23)

In [14]:
cur.execute('Select *from Student')
print(cur.fetchmany(3))

[(52, 'Daiyan Alam', 22), (55, 'Raju Kumar', 23), (62, 'Anish Yadaw', 20)]

In [15]:
cur.execute('Select *from Student')
print(cur.fetchall())

[(52, 'Daiyan Alam', 22), (55, 'Raju Kumar', 23), (62, 'Anish Yadaw', 20)]

In [19]:
cur.execute('Select *from Student')
res = cur.fetchall()
print(res)

[(52, 'Daiyan Alam', 22), (55, 'Raju Kumar', 23), (62, 'Anish Yadaw', 20)]

In [40]:
cur.execute('Select *from Student where Roll_No > 55')
print(cur.fetchall())

[(62, 'Anish Yadaw', 20)]

In [42]:
cur.execute('Select *from Student where Name like "D%"')
print(cur.fetchall())

[(52, 'Daiyan Alam', 22)]

In [43]:
cur.execute('Select *from Student where Name like "%W"')
print(cur.fetchall())

[(62, 'Anish Yadaw', 20)]

[]