### tuples

In [4]:
a = (1,2,3,4,5,6,7,8,9)
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
print(type(a))

<class 'tuple'>

In [6]:
a[1:5]

(2, 3, 4, 5)

In [7]:
a[:3]

(1, 2, 3)

In [8]:
a[3:]

(4, 5, 6, 7, 8, 9)

In [9]:
# tuple is immutable
a[3]=2

TypeError: 'tuple' object does not support item assignment

In [11]:
# we can't delete specific elemetn but we delete whole tuple
del a[3]   # unable to delete

TypeError: 'tuple' object doesn't support item deletion

In [14]:
del a   # tuple deleted

NameError: name 'a' is not defined

In [13]:
a

NameError: name 'a' is not defined

In [15]:
a = (2,4,6,8,10,12,14)
a

(2, 4, 6, 8, 10, 12, 14)

In [16]:
len(a)

7

In [17]:
1 in a

False

In [18]:
10 in a

True

In [20]:
for i in a:
    print(i,end=" ")

2 4 6 8 10 12 14

In [21]:
b = (1,3,5,7,9,11,13)
b

(1, 3, 5, 7, 9, 11, 13)

In [27]:
# concatination
c = a+b   # append two tuples in a. single tuple

In [28]:
c

(2, 4, 6, 8, 10, 12, 14, 1, 3, 5, 7, 9, 11, 13)

In [29]:
c = (a,b)  #tuples of tuple
c

((2, 4, 6, 8, 10, 12, 14), (1, 3, 5, 7, 9, 11, 13))

In [33]:
# repetation 4 time
e = a*4
for i in e:
    print(i,end=' ')

2 4 6 8 10 12 14 2 4 6 8 10 12 14 2 4 6 8 10 12 14 2 4 6 8 10 12 14

In [34]:
min(a)

2

In [35]:
max(a)

14

In [37]:
# list to tuple
l = [1,2,3,5,8]
t = tuple(l)
t

(1, 2, 3, 5, 8)

### variable length input and output

In [38]:
def sum(a,b):
    return a+b
sum(2,4)

6

In [42]:
def sum1(a,b,c=0,d=0,e=0):
    return a+b+c+d+e

In [43]:
sum1(2,4,5)

11

In [45]:
sum1(2,0,6,8)

16

In [46]:
sum1(1,2,3,4,5)

15

In [47]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)

In [50]:
sum2(2,4)

2
4
()

In [51]:
sum2(1,2,3,4)

1
2
(3, 4)

In [52]:
def sum3(a,b,*more):
    ans = a+b
    for i in more:
        ans = ans + i
    return ans

In [54]:
sum3(1,2,3,4,5,6,7,8,9,10)

55

In [55]:
def Arithmetic_opetation(a,b):
    return a+b,a-b,a*b

In [56]:
c = Arithmetic_opetation(10,6)
c

(16, 4, 60)

In [57]:
c,d,f = Arithmetic_opetation(12,6)
print(c)
print(d)
print(f)

18
6
72

### Dictionary