### variables

In [ ]:
a = 5
print(type(a))

In [ ]:
name ="Daiyan"
name

In [ ]:
print(name)
print(type(name))

In [ ]:
a = 3
b =9
a+b

In [ ]:
print(a+b)

### numbers

In [ ]:
a = 5+5j
print(a)
print(type(a))

In [ ]:
b = 5-6j
print(type(b))

In [ ]:
a =10;
print(id(a))
a=a+1
print(id(a))

In [ ]:
a = 12
b = 12
print(id(a))
print(id(b))

In [ ]:
a=15
b=16
print(id(a))
print(id(b))

In [ ]:
a = 1500
b = 1200
print(id(a))
print(id(b))

### Range of Integer

### There is no limit in python

 ### Arithmetic Operators

In [ ]:
a=5
b=7
print(a+b)
print(a-b)

In [ ]:
print(a/b)   #floating point division

In [ ]:
print(a//b)   #integer point division

In [ ]:
print(b//a)   #integer point division

In [ ]:
print(a**b)  # exponentiation

In [ ]:
print(a**2)

In [ ]:
print(a%b)    # gives remainder

In [ ]:
2+3*4   # 14 or 20

In [ ]:
2*3/4  # does not matter what operation done first

In [ ]:
(2*3)//5


### Input

In [ ]:
a = input()
print(a)

In [ ]:
print(type(a))

In [ ]:
a = int(input())
print(type(a))

In [ ]:
a = int(input("Enter num1_  "))
b = int(input("ENter num2_  "))
c = int(input("Enter num3_  "))
if a>=b and a>=c:
    print(a)
elif b>=c and b>=a:
    print(b)
else:
    print(c)

In [ ]:
a =5
if a<6:
    print('Hiii')
elif a==5:
    print('Helllo')
else:
    print('Kaise ho?')

In [ ]:
a =5
if a<6:
    print('Hiii')
if a==5:
    print('Helllo')
else:
    print('Kaise ho?')

### boolean

In [ ]:
a = 10
b = 23
print(a>b)

In [ ]:
print(a<b)

### Relational

In [ ]:
a = 50
b = 15
print(a>10 and a>2)

In [ ]:
a = 50
b = 15
print(a>10 and a>20)

In [ ]:
a = 4
b = 4
print(a!=b)

### Loop

### prime check

In [ ]:
n = int(input('Enter num'))
flag=0
for i in range(2,(n//2+1)):
    if n%i==0:
        flag=1
        break
if(flag==0):
    print('Prime number:')
else:
    print('Not Prime')

In [ ]:
n = int(input("Enter nth term"))
i=1
while i<=n: 
    print(i,end=' ')
    i=i+1

### sum of nth term

In [ ]:
n= int(input('Enter nth term'))
i=1
sum =0
while i<=n:
    sum = sum + i
    i=i+1
print(sum)

In [ ]:

n = int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

In [ ]:
n = int(input("Enter num of lines"))
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

###  for Loop

In [ ]:
name = "daiyan"
for i in name:
    print(i,end=" ")

### print number for 1 to n

In [ ]:
# range(start,stop,stride)
n = int(input('Enter num'))
for i in range(1,n+1,1):
    print(i,end=' ')

In [ ]:
#print number for n to 1
n = int(input())
for i in range(n,0,-1):
    print(i,end=' ')

In [ ]:
# print multiple of 3 where a<b

a = int(input())
b = int(input())
for i in range(a,b+1,1):
    if i%3==0:
        print(i,end=' ')

In [3]:
a = int(input())
b = int(input())
if a%3==0:
    s=a
elif a%3==1:
    s=a+2
else:
    s=a+1
for i in range(s,b+1,3):
    print(i,end=' ')

3
90
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90

In [21]:
# check prime number
n = int(input())
flag=False
for i in range(2,n,1):
    if n%i==0:
        flag=True
        break
if flag:
    print('Not Prime')
else:
    print('Prime')

99
Not Prime

### paas statement

In [23]:
i=3
if i<7:
    pass
print("Hello")

Hello

In [3]:
i=5
while i<10:
    pass
    i=i+1
print('Hello',i)

Hello 10

In [5]:

for i in range(1,10):
    pass
print(i,'Hello')

9 Hello